<ion-view view-title="Rail Me" hide-back-button="true">
  <ion-content scroll="false">

    <div class="list">
      <a class="item" ng-class="time.line" ng-repeat="time in times">
        <div class="row no-padding">
          <div class="col col-50 no-padding">
            <h1>
              <!--<i class="icon ion-android-train"></i>-->
              {{time.line}}
            </h1>
            <p>{{time.destination}}</p>
            <p>{{time.arrival}}</p>
          </div>
          <div class="col col-50 no-padding">
            <h1 class="text-right">
              <!--<i class="icon ion-android-train"></i>-->
              {{time.untilArrival}}<span class="small">min</span>
            </h1>
          </div>
        </div>
      </a>
    </div>

    <div class="bar bar-footer text-center direction-bar">
      <span class="direction-button active col-50">Northbound</span>
      <span class="direction-button col-50">Southbound</span>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
