<ion-view view-title="Rail Me" hide-back-button="true">
  <ion-content scroll="false">

    <div class="list">
      <a class="item item-icon-left" ng-repeat="time in times">
        <i class="icon ion-android-train"></i>
        {{time.line}}
        <br/>
        {{time.arrival}}
        <span style="float:right;">
          {{time.untilArrival}}
        </span>
      </a>
    </div>

    <div class="bar bar-footer text-center direction-bar">
      <span class="direction-button active col-50">Northbound</span>
      <span class="direction-button col-50">Southbound</span>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
