.direction-bar{
  padding: 0;
}
.direction-button{
  color: #454545;
  background-color: #eee;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: bold;
}
.direction-button.active{
  background-color: #F43E3E;
  color: white;
}
.direction-button:first-child{
  border-right: 2px solid #4f4f4f;
}



.bar-stable.app-header{
  background: #007FAE;
  color: white;
}
.bar.bar-stable .title{
  color: white;
}
.bar-stable .button.button-clear{
  color: white;
}
